*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

nav{
  background-color: #E67E22;
  text-align: center;
  font-family: arial;
}


nav ul li{
  display: inline-block;
  margin: 0 15px;
  position: relative;
}

nav ul li a{
  color: white;
  padding: 15px 20px;
  display: block;
  transition: 0.35s;
  
  position: relative;
  z-index: 1;
}


nav ul li a::before{
  content: '';
  width: 0%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
  
}

nav ul li a::after{
  content: '';
  width: 0%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.5s;


}

nav ul li:hover > a::before{
  width: 50%;
}
nav ul li:hover > a::after{
  width: 50%;
}



nav ul li ul{
  position: absolute;
  background-color: #FB1C06;
  opacity: 0;
  visibility: hidden;
  margin-left: 80px;
  transition: 0.5s;
  width:200px;
}


nav ul li:hover > ul{
  opacity: 1;
  margin-left: 0px;
  visibility: visible;
}


nav ul li ul li{
  display: block;
  margin: 0;
}




nav ul li ul li ul {
  left: 100%;
  top: 0;
}
.body{
  background-color: aquamarine;
  background-image: url(../image/bd\ 4.jpg);
  background-size: 100%;

  background-repeat: no-repeat;
  background-position: cover;
}